html {
    font-family: calibri;
    background-color: white;
    color: solid black;
    margin: 80px;
}

header {
    background-color: darkblue;
    color: white;
    font-family: Lucida Sans;
    font-size: 25px;
    width: 900px;
    height: 100px;

        
 }

.box {
width: 60px;
height: 50px;
padding: 4px;
border: none;
margin: 5px;
display: flex;
flex-direction: row-reverse;
justify-content: space-evenly;
align-items: center;
font-family: calibri;
background-color: darkgrey;
}

.box-sized{ 
    box-sizing: border-border;
}


